.flex-header {
	background-color: cornsilk;
}

.container-footer {
	background-color: cornsilk;
}
/* begin grid elements */
.header {
	background-color: cornsilk;
}
.left-sidebar {
	background-color: cornsilk;
}
.middle-main-content {
	background-color: cornsilk;
}

/* end grid elements */
