.flex-header {
	background-color: lightgray;
}

.container-footer {
	background-color: lightgray;
}

.hero-header {
	background-color: lightgray;
}

.bottomsection {
	background-color: lightgray;
}

hr {
	background-color: black;
}
/* begin grid elements */
.header {
	background-color: cornsilk;
}
.left-sidebar {
	background-color: cornsilk;
}
.middle-main-content {
	background-color: cornsilk;
}

/* end grid elements */
