@import url("colorstyles.css");

/* Border box declaration https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* main navigation */
.navgrid {
	display: grid;
	grid-template-columns: [logo] 50px [navlinks] 1fr;
	grid-template-rows: [navrow] auto;
}

.navigflex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.small-logo {
	/* display: flex; */
	width: 50px;
	height: 50px;
}

/* positioning elements */

.postionabs {
	position: absolute;
	left: 25%;
	bottom: 150px;
	background-color: gray;
	z-index: -1;
}

.goright {
	float: right;
	margin: 7% 0% 0% 0%;
	padding: 0 5% 2% 3%;
}

/* end positioning elements demo */

/* contains grid elements */

.main-content-grid {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 1fr;
	gap: 1rem 1rem;
	margin-bottom: 2%;
}

.container-footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
	justify-items: center;
	align-items: center;
}

/* Begin flex items in header grid area */
.flex-header {
	display: flex;
	justify-content: space-around;
	margin: 2% 0;
}

#center-image {
	align-self: center;
}

.list-without-bullet {
	list-style: none outside none;
}

.section-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: no-wrap;
	border: 2px solid black;
	padding: 0 2% 0 2%;
}

.podcast-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: no-wrap;
	padding: 0 2% 0 2%;
}

.table-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.form-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

.section-flex > * {
	padding: 0 2% 0 2%;
}

.podcast-flex > * {
	padding: 5% 2% 0 2%;
}

.table-flex > * {
	padding: 5%;
}

@media only screen and (max-width: 560px) {
	.main-content-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "main" "aside";
		justify-items: center;
		gap: 1rem;
	}

	.middle-main-content {
		grid-area: "main";
		order: -1;
	}

	.left-sidebar {
		grid-area: "aside";
	}

	.flex-header {
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;
	}
	#center-image {
		order: -1;
	}
	img.logo {
		right: 0%;
	}

	.container-footer p {
		padding-left: 2%;
	}

	.section-flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}
