.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}
.header {
  background-color: cadetblue;
}
.item1 {
  border: 3px solid black;
  background-color: beige;
}
.item2 {
  background-color: darkslategray;
}
.item3 {
  background-color: gray;
}
